<header>
    <h1 class="logo" style="color:rgb(251, 255, 0); font-family:'Bauhaus 93'">Moosic<sub style="color:rgb(0, 217, 255);font-size:10px;font-style:italic;">Visit spotify.com for full experience <br></sub></h1> 
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li class="nav-item" routerLinkActive="active"><a routerLink="home"><b>Home</b></a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="search"><b>Search</b></a></li>
        </ul>
    </nav>

    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>